body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif !important;
}

.page {
  width: 210mm;
  height: 297mm;
  max-width: 100%;
  padding: 14mm 25mm;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 1024px) {
  .page {
    width: 100%;
    max-width: 100%;
  }
}
table.docheader {
  width: 100%;
  border: 1px solid #000;
  border-collapse: collapse;
  margin-bottom: 6mm;
}
table.docheader td {
  border: 1px solid #000;
}

.subtext {
  display: block; /* Display the sub-version as a block-level element */
  margin-top: -5px; /* Adjust the margin-top value to eliminate the distance */
}

.firstpage-logos {
  margin-top: 40mm;
}

.firstpage-logos img {
  max-width: 100%;
}

.document-headtext {
  font-weight: bolder;
  font-size: 22pt;
}

span.bfcolor {
  color: #9c0000;
}

.document-styling {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100mm;
  opacity: 0.2;
}
.document-styling img {
  max-height: 100%;
  max-width: 100%;
}

[data-page-type="3"] .page h1 {
  font-size: 17pt !important;
}

.page h1 {
  color: #9c0000;
  font-weight: bolder;
  font-size: 22pt;
}

.av-body p {
  font-size: 15pt;
}

.urkunde-body p {
  font-size: 17pt;
}

p.urkunde-important,
span.urkunde-important {
  font-size: 22pt;
  font-weight: bolder;
}

.signatures table {
  min-width: 80%;
}

.signatures td.signature {
  font-family: "Freehand", sans-serif;
  font-size: 30pt;
}

.urkunde-disclaimer {
  font-size: 10pt;
}

.dt-0,
.dt-1,
.dt-2,
.dt-5,
.dt-6,
.dt-10,
.dt-11,
.dt-12 {
  display: none;
}

body[data-page-type="0"] .dt-0 {
  display: block;
}

body[data-page-type="1"] .dt-1 {
  display: block;
}

body[data-page-type="2"] .dt-2 {
  display: block;
}

body[data-page-type="5"] .dt-5 {
  display: block;
}

body[data-page-type="6"] .dt-6 {
  display: block;
}

body[data-page-type="10"] .dt-10 {
  display: block;
}

body[data-page-type="11"] .dt-11 {
  display: block;
}

body[data-page-type="12"] .dt-12 {
  display: block;
}

.letter-content p,
.letter-content ul,
.letter-content ol {
  font-size: 15pt;
}