.bg-ss-blue {
  background-color: #ebf4ff !important;
}

#add-time button {
  background-color: #99c7ff;
  border: 3px solid #e1e1e1;
  outline: 1px solid #000;
  width: 100%;
  font-size: 1.3rem;
}

.btn-ss-blue {
  --bs-btn-bg: #99c7ff !important;
  --bs-btn-color: var(--black) !important;
  --bs-btn-hover-bg: #99c7ff !important;
  --bs-btn-hover-color: var(--black) !important;
  --bs-btn-active-bg: #5af53d !important;
  --bs-btn-active-color: var(--black) !important;
  --bs-btn-active-border-color: var(--bs-btn-bg) !important;
  --bs-btn-disabled-bg: var(--sh-red) !important;
  --bs-btn-disabled-color: var(--black) !important;
  border-radius: 0 !important;
}

.clickableCard,
.baseCard {
  cursor: pointer;
}

.btn-check:disabled + .btn,
.btn-check[disabled] + .btn {
  opacity: 1 !important;
}